section {
    min-height: 100vh;
    font-family: 'Asap', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
}

header {
    width: 100%;
    min-height: 10%;
    position: fixed;
    z-index: 2;
    box-shadow: 1px 1px gainsboro;
}

header .background-blue {
    height: 40px;
}

header a img {
    width: 16px;
    height: 16px;
    margin: 10px;
}


nav {
    background: white;
    width: 100%;
}

nav a, footer a {
    text-decoration-line: none;
    font-size: 12px;
    font-weight: 700;

    line-height: 14px;
    color: black;
    text-transform: uppercase;
    padding-right: 10px;
}

nav a:hover {
    color: rgba(14, 119, 175, 1);
    text-decoration-line: none;
}

footer a:hover {
    color: white;
    text-decoration-line: none;
}

footer h3 {
    color: #aaa9a9;
}

footer div p {
    width: 335px;
    color: whitesmoke;
}

nav p {
    font-size: 14px;
    line-height: 16px;
    color: #7D7D7D;
}

button {
    border: none;
    width: 105px;
    height: 35px;
    background: rgba(180, 20, 27, 1);
    color: white;
}

button:hover {
    color: black;
}

h1 {
    font-weight: 700;
    font-size: 60px;
}

form div input {
    margin: 10px;
    width: 100%;
    flex-grow: 1;
}

form button {
    margin: 25px auto;
}

footer {
    background: #4A4A4A;
}

input {
    padding: 10px 15px;
    width: 100%;
}

#igm1 {
    width: 600px;
    height: 310px;
}

#about {
    padding-top: 50px;
}

#about p {
    width: 600px;
}

#img-security {
    width: 475px;
    height: 325px;
    padding: 20px 0;
}

#faq div div div {
    width: 50%;
}

#img-footer img {
    width: 40px;
    height: 40px;
}


#end {
    min-height: 60px;
    background: #363636;
}


.background-blue {
    background: rgba(14, 119, 175, 1);
}

.phone {
    width: 15px;
    height: 20px;
    margin-right: 5px;
}

.size {
    padding-top: 100px;
    height: 100vh
}

.mail {
    text-decoration-line: none;
    font-size: 12px;
    line-height: 14px;
    color: white;
}

.mail:hover {
    text-decoration-line: none;
    color: black;
}

.logo {
    height: 75px;
    width: 75px;
    padding: 10px;
}


.slider-line {
    width: 100%;
    overflow: hidden;
}

.slider {
    width: 100vw;
    position: relative;
    left: 0;

}

.position {
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 50%;
}

.position button {
    width: 285px;
    height: 75px;
}

.info-card {
    max-width: 400px;
    background: rgba(144, 199, 255, 0.4);
    box-shadow: 2px 2px 2px 2px;

}

.icon {
    width: 30px;
    height: 30px;
}

.info-card {
    position: relative;
    margin: 10px;
}

.label {
    position: relative;
    padding: 10px 0;
    font-size: 30px;

    cursor: pointer;
}

.subtitle {
    color: rgba(14, 119, 175, 1);
}

.label::before {
    content: ' ';
    position: absolute;
    right: -5px;
    transform: translateY(-50%);
}

.content {
    position: relative;
    height: 0;
    font-size: 20px;
    text-align: justify;
    max-width: 350px;
    overflow: hidden;
    transition: 0.5s;
}

.info-card.active .content {
    height: 90px;
}

.info-card.active .label {
    color: black;
}

.img-background {
    background-image: url("../image/section-3/img-background.png");
    width: 877px;
    height: 504px;
    background-repeat: no-repeat;
}

.btn-all {
    width: 475px;
    height: 95px;
    background: #0E77AF;
    mix-blend-mode: normal;
    opacity: 0.9;
}

.show {
    background: rgba(255, 255, 255, 0.9);
    color: black;
}

.block {
    width: 600px;
    height: 500px;
    overflow: auto;
    box-shadow: 2px 2px 2px 2px;
    padding: 50px;
    background: linear-gradient(180deg, #FCFCFC 0%, #F8F8F8 100%)
}

.block.hidden {
    display: none;
}

.block p {
    color: rgba(14, 119, 175, 1);
}

.block h3 {
    font-size: 60px;
    font-weight: 600;
}

.dropdown-card {
    width: 600px;
    padding: 10px;
}

.dropdown-card .title-list {
    color: rgba(14, 119, 175, 1);
    cursor: pointer;
}

.dropdown-card::before {
    content: '+';
    position: relative;
    right: 20px;
    top: 35px;
}

.drop.dropdown-card:before {
    content: '-';
    position: relative;
    right: 20px;
    top: 35px;
}

.content-lisl img {
    height: 160px;
}

.content-lisl {
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}

.drop .content-lisl {
    height: 200px;
}


.form {
    width: 50%;
    min-height: 500px;
    background: linear-gradient(180deg, #c9def7 0%, #F7F7F7 100%);
}


.address-footer, .phone-footer, .mail-footer {
    width: 30%;
    min-height: 180px;
    padding: 10px;
    position: relative;
    bottom: 100px;
    z-index: 1;
}

.mail-footer, .address-footer {
    background: rgba(123, 123, 123, 1);

}

.phone-footer {
    background: #6C6C6C
}

